body {
    background-color: #000;
    color: #A0A0A0;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 15px;
    padding: 20px;
}

#logBox {
    white-space: pre;
    line-height: 1.35;
}
