body {
    background: #111;
    color: #0f0;
    font-family: monospace;
    padding: 20px;
}
pre {
    background: #000;
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid #0f0;
}